<br>
<h1>Hi, I'm VC.</h1>
<br>
Currently, I'm with <a href="https://getvymo.com"> Vymo Inc </a> as a Product Marketer (GTM). I am the founding member of the GTM org and my day job includes building product marketing depth, figuring out the positioning and messaging and enhancing sales enablement across all use-cases and geographies.
<br>
<br>
Previously in college, I founded <b>WiseWords Interactive</b>, a full-service content and digital marketing agency for global Enterprises in the core industries. I'm also the author of <a href="https://www.amazon.in/Miracle-preneuring-Why-Anyone-Should-Entrepreneur/dp/153530605X"> Miracle-preneuring </a> and built a no-code side project- <a href="https://www.producthunt.com/posts/aibo-2">AiboMBA</a>.
<br>
<br>
Every Thursday, I write the <a href="https://invertedpassion.substack.com">Inverted Passion Community Newsletter</a> with <a href="https://invertedpassion.com"> Paras Chopra </a>. If you're an extreme generalist with a passion for mental models across life, career, philosophy and products- you might want to subscribe.
<br>
<br>
<br>
<h2> Get in touch </h2>
You can connect with me on <a href="https://twitter.com/miraclepreneur"> Twitter</a> or <a href="https://www.linkedin.com/in/varunchoraria/"> LinkedIn </a>.
PS. More active on Twitter than on LinkedIn.
